body{
    background-image: url(../img/image1.jpg);

}
h2{
    color:#764d8a;
}
p{
    color:rgb(97, 39, 47);
}
div{
    background-color: rgb(156, 160, 158);
}
div.post1
{
    border: 2px solid black;
}
.post2{
    border:5px solid rebeccapurple;
}