*{
    margin:0;
    padding:0;
}
.slide_img{
height:500px;
}
.carousel-control-prev-icon{
background-color: blue !important;
border-radius: 50%;
position:absolute;
left:5px;
}
.carousel-control-next-icon{
    background-color: blue !important;
    border-radius: 50%;
    color:black;
    }
.carousel-indicators .btnslide{
    background-color:cyan;
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
}
.title-line{
    position:relative;
    margin-bottom: 25px;
}
.title-line::before{
    content:"";
    background-color: darkblue;
    width: 50%;
    height:5px;
    position:absolute;
    bottom:-15px;
    
}
.carousel-item{
    width:30%;
    margin-left:40px;
}

.accordion-button.collapsed {
    background: black;
  }
  
  .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }