.notification_count
{

color: #ffffff;
font-weight: bold;
border-radius: 50%;
width:20px;
height:20px;
position: absolute;
top:-7px;
left:10px;
padding-left:2px;

}
.envelope
{
    position:relative;
}

.dropdown-menu{
    top: 60px;
    right: 0px;
    left: unset;
    width: 460px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
    }
    .dropdown-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
    border:10px solid #343A40;
    border-color: transparent transparent #343A40 transparent;
    }
